.root {
    -fx-base: rgb(60, 63, 65);
    -fx-background: rgb(60, 63, 65);
    -fx-control-inner-background:  rgb(60, 63, 65);
}

.menu-bar {
    -fx-background-color: rgb(60, 63, 65);
}

.context-menu {
    -fx-border-color: #888888;
}

.label, .cell, .button, .tab-label, .check-box {
    -fx-text-fill: #bbbbbb;
}

.dialog-pane .button:default {
    -fx-text-fill: #444444;
}

.tool-bar {
    -fx-background-color: rgb(60, 63, 65);
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .track-background {
    visibility: hidden;
}

.scroll-bar .track {
    visibility: hidden;
}

.scroll-bar .thumb {
    -fx-background-color: rgba(200,200,200,0.5);
}

#filterField {
    -fx-prompt-text-fill: #888888;
}

#clearButton {
    -fx-background-color: transparent;
}

.gryph-icon {
    -fx-fill: #bbbbbb;
    -glyph-size: 15px;
}

.separator .line {
    -fx-border-width: 0.5px;
    -fx-border-color: #888888;
}