.root {
    -fx-base: rgb(60, 63, 65);
    -fx-background: rgb(60, 63, 65);
    -fx-control-inner-background:  rgb(60, 63, 65);
}

.menu-bar {
    -fx-background-color: rgb(60, 63, 65);
}

.label, .cell, .button, .tab-label {
    -fx-text-fill: #bbbbbb;
}

.tool-bar {
    -fx-background-color: rgb(60, 63, 65);
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .track-background {
    visibility: hidden;
}

.scroll-bar .track {
    visibility: hidden;
}

.scroll-bar .thumb {
    -fx-background-color: rgba(200,200,200,0.5);
}

#filterField {
    -fx-prompt-text-fill: #888888;
}

#clearButton {
    -fx-background-color: transparent;
}